# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code and PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pip
pip-log.txt
pip-delete-this-directory.txt

# MLflow / Wandb tracking and artifacts
mlruns/
classification/mlruns/
classification/checkpoints/
classification/wandb/

# Logs
*.log

# Test and coverage
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Build
build/
dist/
*.egg-info/
.eggs/

# data
data/